.dashboard-main {
    height: 100vh;
    overflow: hidden;
}

.dash-header {
    height: 10vh;
    overflow: hidden;
    padding-left: 1%;
    color: rgb(18, 52, 225);
    display: flex;
    flex-direction: row;
    gap: 80em;

}
.dash-header h1{
    cursor: pointer;
}
.main-body {
    height: 90vh;
    display: flex;
    flex-direction: row;
    border: none;
    padding-top: 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.sidebar {
    margin-left:0;
    padding-top: 2%;
    width:15%;
    border-right: 1px solid rgba(190, 186, 186, 0.548);
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 3em;
}

.upload-btn {
    margin-left:35px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    overflow:hidden;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #293eda;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(131, 163, 245, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgba(114, 159, 214, 0.48);
}

.upload-btn:hover {
    color: #2037e3;
    background-color: #ffffff;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
    
}
.upload-btn:active{
    box-shadow: none;
}


h3 {
    text-align: center;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

h3:visited {
    border-left: 4px solid blue;
    background-color: aliceblue;
}

h3:focus {
    border-left: 4px solid blue;
    background-color: aliceblue;
}

h3:hover {
    border-left: 4px solid blue;
    background-color: aliceblue;
}

h3:active {
    border-left: 4px solid blue;
    background-color: aliceblue;

}

.postings{
    padding-top: 1%;
    padding-left:4%;
    width:75%;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
.postings h2{
    font-size: 30px;
    letter-spacing: 0.4px;
}

.postings-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Two columns */
    gap: 30px 20px;
}

.job-data {
    height: 200px;
    border: 1px solid rgba(190, 186, 186, 0.634);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%; /* Make the job-data divs take full width of their column */
    
}
.postings ::-webkit-scrollbar {
    display: none;
  }

